@import "variable";

* {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::selection {
    background: $--selection-color;
    color: $--font-color;
  }
}

body {
  margin: 0;
  padding: 0;
}

.content {
  box-shadow: 10px 0 10px rgba(0, 0, 0, .5);

  padding: 2rem;

  .light {

  }
  .dark {
    background: #f7f7f7;
  }
}
