@import "variable";

* {
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif, "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}
