@import "variable";

.vue-typer {
  display: inline-block;
}

vue-typer {
  display: inline-block;
}

.typer-white {
  .vue-typer {
    display: inline-block;

    .custom {
      &.char {
        color: $--font-color;

        &.selected {
          background-color: $--selection-color;
        }
      }

      &.caret {
        width: 5px;
        background-color: $--selection-color;
      }
    }
  }
}
