$--screen-sm-min: 768px;
$--screen-md-min: 992px;
$--screen-lg-min: 1200px;

$--color-cyan: #50616d;
$--color-gray: rgb(136,136,136);
$--font-color: #fafafa;
$--selection-color: #f17c67fc;

$--color-title: #888;
$--color-content: #101010;
